.cabecalhoPrincipal{
	padding: 10px;
    margin: 30px;
    font-size: 25px;
    background: #BBBB;
}
.legenda{
    color: brown;
    margin: 0 0 0 29px;
    
   
}
.subtitulo{
    padding: 10px;
    margin: 30px;
    font-size: 25px;

}
.conteudoPrincipal-pratos .container{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow:40px 10px 10px #CCC;
align-items: stretch;
border: 2px solid #000000;
border-radius: 5px;
box-sizing: border-box;
}

.conteudoPrincipal-pratos-link{
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}



.conteudoPrincipal-pratos-link:hover{
    box-shadow: 4px 4px 4px ;
}
    .conteudoPrincipal-pratos li{
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;

    }
.container{
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
    background-image: linear-gradient(to right,white,black);
}

.copyright{
    text-align: center;
}