.cabecalhoPrincipal{
	padding: 10px;
    margin: 30px;
    font-size: 25px;
    box-shadow: ;
}
.subtitulo{
    padding: 10px;
    margin: 30px;
    font-size: 25px;

}
.conteudoPrincipal-pratos{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
box-shadow:40px 10px 10px #CCC;
align-items: stretch;
border: 2px solid #000000;
border-radius: 5px;



}

.conteudoPrincipal-pratos-link:hover{
    box-shadow: 4px 4px 4px ;
}

